<footer class="footer">
  <a class="footer_item" href="https://linkedin.com/in/shomiljain">linkedin</a>
  <a class="footer_item" href="https://github.com/shomilj">github</a>
  <a class="footer_item" href="https://twitter.com/shomil_j">twitter</a>
  <a class="footer_item" href="https://shomil.me/resume.pdf">resume</a>
</footer>
<script src="/assets/js/main.js" defer="defer"></script>
<script src="/assets/js/galite.js"></script>
<script>
  var galite = galite || {};
  galite.UA = "{{ site.google_analytics }}";
</script>
